---
import "@/styles/calculators.postcss";
import Layout from "@/layouts/Layout.astro";
import Calc from "@/components/Calc.svelte";
---

<Layout title="Cold Brew Calculator">
  <main>
    <a class="link back" href="/">Back</a>
    <h1>Cold Brew</h1>
    <Calc
      client:only="svelte"
      storageKey="coldBrew"
      defaults={{
        cupCount: 8,
        ratio: 10,
        gramsPerCup: 17,
      }}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    /* color: white; */
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
