---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Coffee Calculator">
  <main>
    <h1>Coffee Calculator</h1>
    <div class="link-card-grid">
      <Card title="Pour Over" body="Chemex, V60, etc." href="pour-over" />
      <Card
        title="Cold Brew"
        body="CoffeeSock, Mason Jar, etc."
        href="cold-brew"
      />
    </div>
  </main>
</Layout>