---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      defer
      src="https://log.creare.dev/script.js"
      data-website-id="f985d8a3-deeb-4b18-840b-28ff1dfe281c"></script>
    <meta name="description" content="Coffee Calculator" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    @apply bg-surface-l dark:bg-surface-d;
  }

  main {
    @apply text-primary-l dark:text-primary-d;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  a.link {
    @apply text-links-l dark:text-links-d;
  }
  a.link.back::before {
    content: "\2190";
  }
  a.link::hover {
    @apply underline;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-headers-l dark:text-headers-d;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .link-card-grid {
    @apply flex flex-row flex-wrap justify-center;
    gap: 2rem;
    padding: 0;
  }
  .link-card-grid > * {
    flex: 0 0 24ch;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
</style>
